@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.gallery {
  margin-top: 8rem;

  figure {
    margin-bottom: 1rem;
    @include breakpoint(tablet) {
      margin-bottom: 0;
    }
  }

  &__title {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
    max-width: 20ch;
    text-align: left;
  }

  &__subtitle {
    font-family: $secondary-font;
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.8;
    color: $grey;
    max-width: 45ch;
    text-align: left;
  }

  .container {
    @include breakpoint(tablet) {
      margin-bottom: 6rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto;

      .first-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-column: 1 / 3;
        grid-row: 1;
        gap: 0.5rem;
        @include breakpoint(desktop) {
          gap: 2rem 2rem;
        }
        .first-container_text {
          grid-column: 1;
          grid-row: 1;
          align-self: start;
          @include breakpoint(desktop) {
            padding: 2rem 3rem;
          }
        }

        figure {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row: 1;
        }
      }

      .second-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-column: 1 / 3;
        grid-row: 2;
        gap: 0.5rem;
        @include breakpoint(desktop) {
          gap: 2rem 2rem;
        }

        figure:nth-of-type(1) {
          grid-column: 1;
          grid-row: 1;
          width: 100%;
        }
      }

      .third-container {
        grid-row: span 2 / span 2;
        grid-row-start: 2;
        gap: 0.5rem;

        .gallery2-img {
          display: none;
        }
      }

      .fourth-container {
        grid-row-start: 2;
        gap: 0.5rem;

        .gallery3-img {
          display: none;
        }

        .gallery3-long-img {
          width: 100%;
          height: 30%;
        }
      }

      .fiveth-container {
        grid-column-start: 2;
        grid-row-start: 3;
        gap: 9rem;
      }
    }
  }

  .gallery__cta {
    @include breakpoint(tablet) {
      margin: 0;
      padding: 6rem 2rem 2rem 2rem;
    }
    text-align: left;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    background-color: $black;
    margin-bottom: 7rem;

    &__title {
      color: white;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    &__subtitle {
      font-family: $secondary-font;

      font-size: 1.1rem;
      line-height: 1.8;
      color: white;

      @include breakpoint(tablet) {
        font-family: $secondary-font;
      }
    }
  }
}

.gallery3-long-img {
  display: none;

  @include breakpoint(tablet) {
    display: block;
  }
}

.gallery2-long-img {
  display: none;

  @include breakpoint(tablet) {
    display: block;
  }
}
