@use "../abstracts/_variables" as *;
@use "../abstracts/_mixins" as *;

.hero {
  display: block;
  padding-bottom: 5rem;

  .hero__top {
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;

    &-background {
      background: linear-gradient(
        to top,
        rgba(36, 36, 36, 0.4) 0%,
        rgba(36, 36, 36, 0.05) 100%
      );
      padding-top: 4rem;
      margin-top: -1rem;
      height: auto;
      padding-bottom: 0;

      .image {
        width: 100%;
        display: flex;
        justify-content: center;
        overflow: hidden;

        figure {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: center;
          }
        }
      }
    }

    .name {
      @include breakpoint(mobile) {
        display: none;
      }
    }

    .media {
      flex-wrap: wrap;
      padding: 2rem 1rem 4rem 1rem;
      width: 100%;

      ul {
        display: flex;
        gap: 2rem;
        justify-content: center;
        li {
          a:hover img {
            filter: brightness(0) saturate(100%) invert(85%) sepia(75%)
              saturate(3102%) hue-rotate(104deg) brightness(90%) contrast(104%);
          }
        }
      }
    }
  }

  .hero__content {
    text-align: center;

    h1 {
      font-family: $primary-font;
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.1;
      display: flex;
      flex-direction: column;

      .greeting,
      .name-intro {
        font-size: inherit;
        font-weight: inherit;
        font-family: inherit;
      }

      .greeting {
        display: block;
      }

      .name-intro {
        display: block;

        .highlighted-name {
          border-bottom: 4px solid $green;
          display: inline-block;
          padding-bottom: 2px;
          font-size: inherit;
          font-weight: inherit;
        }
      }

      @include breakpoint(tablet) {
        font-size: 3rem;

        .greeting,
        .name-intro {
          display: inline;
        }

        .highlighted-name {
          border-bottom: none;
        }
      }

      @include breakpoint(desktop) {
        font-size: 4rem;
      }
    }

    p {
      color: $grey-light;
      font-family: $primary-font;
      font-size: 0.9rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;

      @include breakpoint(tablet) {
        font-size: 1rem;
      }
      @include breakpoint(desktop) {
        font-size: 2rem;
      }
    }
  }
}

.button {
  @include button();
}
